.skills {
  display: flex;
  margin: 32px auto 0;
  .skill {
    width: 50vw;
    display: flex;
    margin-right: 24px;
    align-items: center;
    &__img {
      background: no-repeat center;
      background-size: cover;
    }
    &__text {
      flex: 1;
      word-break: break-all;
    }
  }
}
