<div class="skills">
  <div class="skill">
    <img src="../../../assets/images/logo1.png" alt="" class="skill__img" />
    <p class="skill__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, aperiam
      architecto voluptatum nobis asperiores, a pariatur provident, distinctio
      repellendus magnam optio dolorem velit! Possimus, assumenda sequi
      accusamus fuga nemo molestiae.
    </p>
  </div>
  <div class="skill">
    <img src="../../../assets/images/logo2.png" alt="" class="skill__img" />
    <p class="skill__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi voluptatum,
      voluptas, repellat quae, pariatur sint fuga repellendus eum ab reiciendis
      corrupti ducimus dolorem commodi veniam suscipit quam incidunt rem?
      Explicabo.
    </p>
  </div>
</div>
