<div class="header">
  <a href=""
    ><img src="../../assets/images/top-logo.png" alt="" class="header__logo"
  /></a>
  <div class="nav">
    <ng-container *ngFor="let headerTabs of headerTabs">
      <a
        class="nav__item"
        [routerLink]="headerTabs.path"
        routerLinkActive="active"
        (click)="activatedTab = headerTabs.path"
        >{{ headerTabs.label }}</a
      >
    </ng-container>
    <ng-container *ngIf="afUser$ | async as user">
      <button (click)="logout()">ログアウト</button>
    </ng-container>
  </div>
</div>
