<h1 class="title">Profile</h1>
<div class="about">
  <div class="about__avatar"></div>
  <div class="about__text">
    <div class="about__info">
      <h1 class="about__name">隈本　優希</h1>
      <div class="about__logo">
        <a href="https://twitter.com/5gMBBAoEPLGVEsk" target="_blank"
          ><img
            src="../../../assets/images/twitter-logo.png"
            alt=""
            class="logo"
        /></a>
        <a href="https://github.com/K-Yuki1019" target="_blank"
          ><img
            src="../../../assets/images/github-logo.png"
            alt=""
            class="logo"
        /></a>
      </div>
    </div>
    <div class="about__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque sit in
      impedit amet asperiores minus, iure labore quia tenetur culpa quae eius
      animi unde vitae quisquam laborum, quas consequuntur et! Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Nesciunt dolores nulla vero odit.
      Aut, omnis quas eos, sint voluptatibus nostrum perspiciatis architecto
      aliquid repellendus quod nulla, illo numquam unde? Quis.
    </div>
  </div>
</div>
