<div class="container container--create">
  <div class="create">
    <form action="" class="create__form">
      <div class="create__item">
        <h2 class="create__title">サービス名</h2>
        <mat-form-field appearance="outline">
          <mat-label>サービス名</mat-label>
          <input type="text" matInput />
          <mat-error></mat-error>
        </mat-form-field>
      </div>
      <div class="create__item">
        <h2 class="create__title">サービス説明</h2>
        <mat-form-field appearance="outline">
          <mat-label>サービス説明</mat-label>
          <textarea matInput></textarea>
          <mat-error></mat-error>
        </mat-form-field>
      </div>
      <div class="create__item">
        <h2 class="create__title">サムネイル画像</h2>
        <input type="file" />
      </div>
      <div class="create__item">
        <h2 class="create__title">サービスURL</h2>
        <mat-form-field appearance="outline">
          <mat-label>URL</mat-label>
          <input matInput />
          <mat-error></mat-error>
        </mat-form-field>
      </div>
      <button mat-stroked-button class="create__submit">作成</button>
    </form>
  </div>
</div>
