<div class="container container--create">
  <ng-container *ngIf="afUser$ | async as user">
    <p>{{ user.email }} is login!</p>
  </ng-container>
  <div class="create">
    <form [formGroup]="form" class="create__form">
      <div class="create__item">
        <h2 class="create__title">サービス名</h2>
        <mat-form-field appearance="outline">
          <mat-label>サービス名</mat-label>
          <input formControlName="title" type="text" matInput />
          <mat-error></mat-error>
        </mat-form-field>
      </div>
      <div class="create__item">
        <h2 class="create__title">サービス説明</h2>
        <mat-form-field appearance="outline">
          <mat-label>サービス説明</mat-label>
          <textarea formControlName="description" matInput></textarea>
          <mat-error></mat-error>
        </mat-form-field>
      </div>
      <div class="create__item">
        <h2 class="create__title">サムネイル画像</h2>
        <input type="file" />
      </div>
      <div class="create__item">
        <h2 class="create__title">URL</h2>
        <mat-form-field appearance="outline">
          <mat-label>サービスURL</mat-label>
          <input formControlName="serviceURL" matInput />
          <mat-error></mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>githubURL</mat-label>
          <input formControlName="githubURL" matInput />
          <mat-error></mat-error>
        </mat-form-field>
      </div>
      <button mat-stroked-button (click)="submit()" class="create__submit">
        作成
      </button>
    </form>
  </div>
</div>
