<div class="container container--create">
  <div class="card">
    <div class="card__inner">
      <div class="card__info">
        <div class="card__title">test Title</div>
        <div class="card__description">テストなサービスです</div>
        <div class="card__createdAt">2020/01/22</div>
      </div>
      <div class="card__menu">
        <button mat-icon-button><mat-icon>edit</mat-icon></button>
        <button mat-icon-button><mat-icon>delete</mat-icon></button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__inner">
      <div class="card__info">
        <div class="card__title">test Title</div>
        <div class="card__description">テストなサービスです</div>
        <div class="card__createdAt">2020/01/22</div>
      </div>
      <div class="card__menu">
        <button mat-icon-button><mat-icon>edit</mat-icon></button>
        <button mat-icon-button><mat-icon>delete</mat-icon></button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__inner">
      <div class="card__info">
        <div class="card__title">test Title</div>
        <div class="card__description">テストなサービスです</div>
        <div class="card__createdAt">2020/01/22</div>
      </div>
      <div class="card__menu">
        <button mat-icon-button><mat-icon>edit</mat-icon></button>
        <button mat-icon-button><mat-icon>delete</mat-icon></button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__inner">
      <div class="card__info">
        <div class="card__title">test Title</div>
        <div class="card__description">テストなサービスです</div>
        <div class="card__createdAt">2020/01/22</div>
      </div>
      <div class="card__menu">
        <button mat-icon-button><mat-icon>edit</mat-icon></button>
        <button mat-icon-button><mat-icon>delete</mat-icon></button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__inner">
      <div class="card__info">
        <div class="card__title">test Title</div>
        <div class="card__description">テストなサービスです</div>
        <div class="card__createdAt">2020/01/22</div>
      </div>
      <div class="card__menu">
        <button mat-icon-button><mat-icon>edit</mat-icon></button>
        <button mat-icon-button><mat-icon>delete</mat-icon></button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__inner">
      <div class="card__info">
        <div class="card__title">test Title</div>
        <div class="card__description">テストなサービスです</div>
        <div class="card__createdAt">2020/01/22</div>
      </div>
      <div class="card__menu">
        <button mat-icon-button><mat-icon>edit</mat-icon></button>
        <button mat-icon-button><mat-icon>delete</mat-icon></button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__inner">
      <div class="card__info">
        <div class="card__title">test Title</div>
        <div class="card__description">テストなサービスです</div>
        <div class="card__createdAt">2020/01/22</div>
      </div>
      <div class="card__menu">
        <button mat-icon-button><mat-icon>edit</mat-icon></button>
        <button mat-icon-button><mat-icon>delete</mat-icon></button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__inner">
      <div class="card__info">
        <div class="card__title">test Title</div>
        <div class="card__description">テストなサービスです</div>
        <div class="card__createdAt">2020/01/22</div>
      </div>
      <div class="card__menu">
        <button mat-icon-button><mat-icon>edit</mat-icon></button>
        <button mat-icon-button><mat-icon>delete</mat-icon></button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__inner">
      <div class="card__info">
        <div class="card__title">test Title</div>
        <div class="card__description">テストなサービスです</div>
        <div class="card__createdAt">2020/01/22</div>
      </div>
      <div class="card__menu">
        <button mat-icon-button><mat-icon>edit</mat-icon></button>
        <button mat-icon-button><mat-icon>delete</mat-icon></button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__inner">
      <div class="card__info">
        <div class="card__title">test Title</div>
        <div class="card__description">テストなサービスです</div>
        <div class="card__createdAt">2020/01/22</div>
      </div>
      <div class="card__menu">
        <button mat-icon-button><mat-icon>edit</mat-icon></button>
        <button mat-icon-button><mat-icon>delete</mat-icon></button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__inner">
      <div class="card__info">
        <div class="card__title">test Title</div>
        <div class="card__description">テストなサービスです</div>
        <div class="card__createdAt">2020/01/22</div>
      </div>
      <div class="card__menu">
        <button mat-icon-button><mat-icon>edit</mat-icon></button>
        <button mat-icon-button><mat-icon>delete</mat-icon></button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__inner">
      <div class="card__info">
        <div class="card__title">test Title</div>
        <div class="card__description">テストなサービスです</div>
        <div class="card__createdAt">2020/01/22</div>
      </div>
      <div class="card__menu">
        <button mat-icon-button><mat-icon>edit</mat-icon></button>
        <button mat-icon-button><mat-icon>delete</mat-icon></button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__inner">
      <div class="card__info">
        <div class="card__title">test Title</div>
        <div class="card__description">テストなサービスです</div>
        <div class="card__createdAt">2020/01/22</div>
      </div>
      <div class="card__menu">
        <button mat-icon-button><mat-icon>edit</mat-icon></button>
        <button mat-icon-button><mat-icon>delete</mat-icon></button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__inner">
      <div class="card__info">
        <div class="card__title">test Title</div>
        <div class="card__description">テストなサービスです</div>
        <div class="card__createdAt">2020/01/22</div>
      </div>
      <div class="card__menu">
        <button mat-icon-button><mat-icon>edit</mat-icon></button>
        <button mat-icon-button><mat-icon>delete</mat-icon></button>
      </div>
    </div>
  </div>
</div>
