<div class="card">
  <a href="" class="card__item">
    <img class="card__img" src="https://source.unsplash.com/random" alt="" />
    <div class="card__body">
      <div class="card__info">
        <h2 class="card__name">{{ article.title }}</h2>
        <h3 class="card__about">
          {{ article.description }}
        </h3>
        <div class="card__url">
          <mat-icon inline>link</mat-icon>
          <a class="card__git" href="{{ article.githubURL }}">Githubへ</a>
        </div>
      </div>
      <div class="card__description">
        <p class="card__date">
          {{ article.createdAt.toDate() | date: "yyyy年MM月dd日" }} 投稿
        </p>
      </div>
    </div>
  </a>
</div>
