<div class="card">
  <a href="" class="card__item">
    <img class="card__img" src="https://placehold.jp/270x150.png" alt="" />
    <div class="card__body">
      <div class="card__info">
        <h2 class="card__name">{{ article.title }}</h2>
        <h3 class="card__about">
          {{ article.description }}
        </h3>
      </div>
      <div class="card__description">
        <p class="card__date">
          {{ article.createdAt.toDate() | date: "yyyy年MM月dd日" }} 投稿
        </p>
      </div>
    </div>
  </a>
</div>
