.works {
  margin-top: 70px;
  &__title {
    text-align: center;
    font-size: 48px;
  }
  &__message {
    font-size: 12px;
    text-align: right;
  }
}

.card {
  margin: 24px auto 0;
  border-radius: 8px;
  border: 1px solid #e4e4e4;
  &__img {
    border-radius: 8px 8px 0 0;
  }
  &__info {
    padding: 16px 16px 8px;
    border-bottom: 1px dashed #e4e4e4;
  }
  &__name {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 16px;
  }
  &__about {
    font-size: 16px;
    font-weight: 400;
    color: rgba(48, 48, 48, 0.6);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &__description {
    padding: 8px 16px;
  }
  &__url {
    display: flex;
    align-items: center;
  }
  &__git {
    color: rgba(0, 0, 0, 0.5);
  }
  &__date {
    font-size: 13px;
    color: rgba(48, 48, 48, 0.48);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-bottom: 24px;
}

mat-icon {
  margin-right: 8px;
}
